Privacy Policy for the Android App "WhatsApp Status"

This App show statuses of WhatsApp, WhatsApp Business.
This App required Access to files on android device to show these statuses.
This access file permission only used to show users the statuses.
It is to clarify that the developer of this app does not collect any kind of  status data or any kind of user data.
it also does not send any kind of data from device.
However Google analytic services may collect some data.

Developed by
Abdullah Mijazi
abdullah.mijazi@gmail.com
